<p class="h5"><%= current_user.user_name %></p></br>
<p class="h6">All my items</p>
<body>
  <% @items.each do |item| %>
    <%= item.name %>
    <%= item.amount %>
    <%= item.created_at %>
  <% end %>
</body>
